*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ml-5-wbw {
    margin-left: 5px;
}
.mr-5-wbw {
    margin-right: 5px;
}
.pd-10-wbw {
    padding: 10px 0;
}
.m-10-wbw {
    margin: 10px 0;
}

.mt-5-wbw {
    margin-top: 5px;
}

.mt-10-wbw {
    margin-top: 10px;
}


.mb-5-wbw {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #666;
}
